<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container py-3 pb-0">
      <!-- en el de git va la dire al repo nuestro-->
      <section class="mb-4">
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
    </div>
   
    <div class="text-center p-3">
     Grupo 2
      <a class="text-white" href="pagina de la utn">UTN Regional la Plata</a>
    </div>
    
  </footer>
