<div class="container-fluid">
    <nav>
      <div class="nav-izquierda container">
        <button class="btn btn-atras"><i class="bi bi-arrow-return-left"></i></button>
        <div class="search-bg">
          <input type="search" class="busqueda" placeholder="busqueda"><i class="bi bi-search"></i>
        </div>
       
      </div>
      <div class="nav-derecha">
        <button class="btn btn-usuario">
          <i class="bi bi-person-fill"></i>
        </button>
        <button class="btn btn-salir">
          Salir
        </button>
      </div>
    </nav>

    <div class="bodyPart">
        <h1>Reunión científica nacional con referato</h1>
        <button class="btn btn-agregar">+ Agregar</button>
        
        <div class="reuniones">
          
          <div class="reuniones row">
            <div class="reunion col-md-12">
                <p>Reunion Cientifica 1</p>
                <div class="btn-funciones d-flex">
                    <button class="btn btn-f d-flex justify-content-center align-items-center"><i class="bi bi-eye"></i></button>
                    <button class="btn btn-f d-flex justify-content-center align-items-center"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-f d-flex justify-content-center align-items-center"><i class="bi bi-trash"></i></button>
                </div>
            </div>
       
        </div>
    </div>
</div>
