<div class="bodyPart">
    <h1>Reunión científica nacional con referato</h1>
    <button class="btn btn-agregar">+ Agregar</button>
    <!-- reuniones: contiene cada reunion-->
    <div class="reuniones">
      
      <div class="reunion">
        <p>Reunion Cientifica 1</p>
        <div class="bnt-funciones">
          <button class="btn btn-f"><i class="bi bi-eye"></i></button>
          <button class=" btn btn-f"><i class="bi bi-pencil"></i></button>
          <button class=" btn btn-f"><i class="bi bi-trash"></i></button>
        </div>
      </div>

    </div>
</div>
