<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     
      <div class="nav-derecha ms-auto"> 
        <a *ngIf="userLoginOn" routerLink="perfil" class="btn btn-usuario"><i class="bi bi-person-fill"></i>Perfil</a>
        <a *ngIf="!userLoginOn" routerLink="/iniciar-sesion" class="btn btn-iniciar-sesion">Entrar</a>
        <a *ngIf="!userLoginOn" routerLink="/pagina-principal" class="btn btn-salir">Home</a>
        <a *ngIf="!userLoginOn" routerLink="/inicio" class="btn btn-salir">Salir</a>
      </div>
    </div>
  </div>
</nav>
