
  <div class="container-fluid p-0">
    <nav>
      <div class="nav-izquierda">
        <button class="btn btn-atras"><i class="bi bi-arrow-return-left"></i></button>
        <div class="search-bg">
          <input type="search" class="busqueda" placeholder="busqueda"><i class="bi bi-search"></i>
        </div>
      </div>
      <div class="nav-derecha">
        <!-- Agrega el ngIf para mostrar las opciones según el estado de inicio de sesión -->
        <button *ngIf="usuarioLogeado" class="btn btn-usuario">
          <i class="bi bi-person-fill"></i>
        </button>
        <button *ngIf="usuarioLogeado" (click)="logout()" class="btn btn-salir">
          Salir
        </button>
        <a *ngIf="!usuarioLogeado" routerLink="/iniciar-sesion" class="btn btn-iniciar-sesion">Entrar</a>
      </div>
    </nav>
  </div>