
<h1 class="mt-3 mb-3">Reunión Científica Internacional</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Nuevo
  </button>

<table class="table table-responsive table-hover table-secondary">
    <thead class="table-dark">
        <tr>
            <th>Reunion</th>
            <th>País</th>
            <th>Fecha inicio</th>
            <th>Expositor</th>
            <th>Título trabajo</th>
            <th>Autor</th>
            <th>Editar</th>
            <th>Eliminar</th>
            
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let rci of rciList">
            <td>{{rci.reunion}}</td>
            <td>{{rci.pais}}</td>
            <td>{{rci.fechaInicio}}</td>
            <td>{{rci.expositor}}</td>
            <td>{{rci.tituloTrabajo}}</td>
            <td>{{rci.autor}}</td>
            <td class="text-center">
              <i 
                class="bi bi-pencil-square" 
                [routerLink]="['/rci', rci.id]"
                (click)="setEditar(true)"
                data-bs-toggle="modal" 
                data-bs-target="#staticBackdrop">
              </i>
            </td>
            <td class="text-center">
              <i class="bi bi-trash3" (click)="delete(rci)"></i>
            </td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ editar ? 'Editar' : 'Nueva' }} reunión científica internacional</h1>

          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"
            [routerLink]="['rci']">
          </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="formRci" (submit)="onSubmit()" id="formRci">  

            <div class="mb-3">
              <label for="reunion" class="form-label">Reunion</label>
              <input 
                type="text" 
                formControlName="reunion" 
                placeholder="Ingrese la reunión" 
                class="form-control"  
                id="reunion">

              <div class="alert alert-danger" *ngIf="formRci.controls['reunion'].invalid && formRci.controls['reunion'].touched">
                <div *ngIf="formRci.controls['reunion']?.hasError('required')">El nombre de la reunión es requerida</div>
             </div>

            </div>
            
            <div class="mb-3">
                <label for="pais" class="form-label">Pais</label>
                <input 
                  type="text" 
                  formControlName="pais" 
                  placeholder="Ingrese un pais" 
                  class="form-control" 
                  id="pais">
                <div class="alert alert-danger" *ngIf="formRci.controls['pais'].invalid && formRci.controls['pais'].touched">
                    <div *ngIf="formRci.controls['pais']?.hasError('required')">El pais es requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha inicio</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="fecha">
            </div>

            
            <div class="mb-3">
                <label for="expositor" class="form-label">Expositor</label>
                <input 
                  type="text" 
                  formControlName="expositor" 
                  placeholder="Ingrese el expositor" 
                  class="form-control" 
                  id="expositor">
                <div class="alert alert-danger" *ngIf="formRci.controls['expositor'].invalid && formRci.controls['expositor'].touched">
                    <div *ngIf="formRci.controls['expositor']?.hasError('required')">El nombre del expositor es requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="tituloTrabajo" class="form-label">Titulo Trabajo</label>
                <input 
                  type="text" 
                  formControlName="tituloTrabajo" 
                  placeholder="Ingrese el titulo" 
                  class="form-control" 
                  id="tituloTrabajo">
                <div class="alert alert-danger" *ngIf="formRci.controls['tituloTrabajo'].invalid && formRci.controls['tituloTrabajo'].touched">
                    <div *ngIf="formRci.controls['tituloTrabajo']?.hasError('required')">El titulo es requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="autor" class="form-label"></label>
            </div>
            <div class="mb-3">
                <label for="autor" class="form-label">Autor</label>
                <input 
                  type="text" 
                  formControlName="autor" 
                  placeholder="Ingrese el autor" 
                  class="form-control" 
                  id="autor">
                <div class="alert alert-danger" *ngIf="formRci.controls['autor'].invalid && formRci.controls['autor'].touched">
                    <div *ngIf="formRci.controls['autor']?.hasError('required')">El autor es requerido</div>
                </div>
            </div>

          </form>..
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-secondary" 
            data-bs-dismiss="modal"
            [routerLink]="['/rci']">
              Cerrar
          </button>
          <button 
            role="button" 
            form="formRci" 
            class="btn btn-primary"
            >
              {{ editar ? 'Guardar cambios' : 'Aceptar' }}
          </button>
        </div>
      </div>
    </div>
  </div>