.MiContenedor{ 
    margin: 0;
    padding: 1px;
    
}

#imagen-container {
    text-align: center; /* Centrar la imagen */
    margin-top: 0px; /* Espaciado superior de la imagen */
}

#mi-imagen {
    max-width: 100%; /* Asegurar que la imagen no exceda su contenedor */
    max-height: 370px; 
}

#rectangulo {
    background-color: #B3B5F8; 
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px; 
    margin-top: 15px; 
    margin-right: 15px;
    width: 450px; 
    overflow-y: auto; 
    cursor: pointer;
    transition: background-color 0.3s;
}
#rectangulo p {
    font-size: 28px; 
}

#rectangulo:hover {
    background-color: #8588F8; 
}

.contenedor {
    display: flex;
    height: auto;
    align-items: flex-start;
}

.cuadro {
    display: block;
    background-color: #CECDCF;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px; 
    max-width: 1010px; 
    margin-right: 390px;
    margin-top: 15px;
    height: auto;
    overflow: auto;
}
.cuadro ul {
    
    padding: 0;
    margin: 0; 
}

.cuadro li {
    list-style-type: disc;
    margin-bottom: 10px; 
    font-size: 20px;
    padding-left: 20px; 
}

